{% extends 'base.html.twig' %}
{% block title %}{{ parent() }} | Liste Image{% endblock %}

{% block body %}
    <div>
        <h1 class="text-3xl font-bold underline m-0">
            Liste Image
        </h1>
        <a href="{{ path('image_creation') }}"> + </a>
    </div>

    <div>
        <ol>
            {% for image in images %}
                <li> {{ image.url }} </li>
            {% endfor %}
        </ol>
    </div>
{% endblock %}