 {% extends 'base.html.twig' %}
 {% block title %}{{parent() }} | Bienvenue au Crud Croustillant !{% endblock %}

{% block body %}
    <h1 class="text-3xl font-bold underline m-0">
        Hello world!
    </h1>
    <br>
    <p class="font-mono">Bienvenue au Crud Croustillant</p>

 {% endblock %}