 {% extends 'base.html.twig' %}
 {% block title %}{{parent() }} | Bienvenue au Crud Croustillant !{% endblock %}

{% block body %}
    <h1 class="text-center text-xxl-start">Bienvenue au Crud Croustillant</h1>
 {% endblock %}