{% extends 'base.html.twig' %}
{% block title %}{{ parent() }} | Liste sauce{% endblock %}

{% block body %}
    <h1 class="text-3xl font-bold underline m-0">
        Liste sauce
    </h1>
{% endblock %}